{% extends 'base.html' %}
{% load static %}
{% block styles %}
   <link rel="stylesheet" href="{% static 'vendor/css/dataTables.bootstrap4.min.css' %}">
   <link href="{% static 'assets/css/table.css' %}" rel="stylesheet" id="bootstrap-css">
{% endblock %}
{% block content %}
<h2 class="mb-4" id='aulaid' data-aulaid='{{ aula.id }}'>Aula - {{ aula.descricao }}</h2>
<div>
   <table id="alunos" class="table table-striped table-bordered" style="width:100%">
     <thead>
         <tr>
             <th>Foto</th>
             <th>Nome</th>
             <th>Status</th>
             <th>Alterar Status</th>
         </tr>
     </thead>
     <tbody id='table-body'>
     </tbody>
     <tfoot>
         <tr>
             <th>Foto</th>
             <th>Nome</th>
             <th>Status</th>
             <th>Alterar Status</th>
         </tr>
     </tfoot>
 </table>
</div>
<div id='buttons'>

</div>
{% endblock %}
{% block scripts %}
   <script src="{% static 'vendor/js/jquery.dataTables.min.js' %}"></script>
   <script src="{% static 'vendor/js/dataTables.bootstrap4.min.js' %}"></script>
   <script src="{% static 'assets/js/aula.js' %}"></script>
{% endblock %}