.main-color {
    background-color: #0062cc;
}
.side-menu-logo {
    width: 200px;
    padding-bottom: 30px;
}

.float-btn {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    padding: 0;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 100px !important;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}